.feed__top {
  display: flex;
  align-items: center;
  color: rgb(46, 43, 43);
}

.feed__single {
  padding: 5px;
  box-shadow: 5px 8px 7px -8px rgba(0, 0, 0, 0.75);
  border-radius: 20px;
}

.feed__visibility__time {
  display: flex;
  margin-top: 5px;
}

.feed__visibility__time > h5 {
  margin-right: 10px;
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: 500;
}
.feed__top__right {
  margin: 10px;
  align-self: center;
}
.feed__caption {
  margin: 5px 10px;
}
.feed__caption > h4 {
  font-weight: 500;
  font-size: large;
  color: rgb(46, 43, 43);
}

.feed__like__comment__share {
  display: flex;
  cursor: pointer;
  flex-direction: row;
  vertical-align: middle;
}
.feed__like__comment__share h3 {
  font-family: sans-serif;
  display: flex;
  font-weight: 550;
  margin-left: 5px;
  justify-self: center;
  display: inline-block;
  margin-bottom: 5px;
  vertical-align: middle;
}
.feed__like__comment__share:hover {
  border-radius: 10px;
}

.feed__like__comment__share__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px 50px;
  padding-top: 10px;
  border-radius: 20px;
  margin-bottom: 5px;
  box-shadow: -2px -4px 4px -4px rgba(0, 0, 0, 0.75);
}
