/* .home__body {
}
.home__header {
  display: block;
  width: 100%;
}
.home__sidebar {
  width: 20%;
  background-color: transparent;
  display: flex;
}
.home__storyreel {
  display: flex;
  flex-direction: row;
}
 */
.home__body {
  display: flex;

  margin-top: 10px;
}
.home {
  background-color: #cccc;
  height: 100%;
}
.home__middle {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}
.home__postfeed {
  margin-top: 10px;
}
.home__feed {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}
