.story__container {
  display: flex;
  margin-left: 10px;
}
.story {
  position: Relative;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 120px;
  height: 200px;
  box-shadow: 0px 5px 17px -7px rgba(0, 0, 0, 0.75);
  border-radius: 10px;
  margin-right: 15px;
  transition: transform 100ms ease-in;
  cursor: pointer;
}

.story:hover {
  transform: scale(1.07);
}

.story__profile {
  margin: 10px;
  border: 5px solid #2281f4;
}

.story > h4 {
  position: absolute;
  bottom: 5px;
  text-align: center;
  color: rgb(255, 255, 255);
  text-align: center;
  font-weight: 550;
  word-wrap: break-word;
  margin: 0px 7px;
}
